:root{
    --orangeColor:#FB9300;
    --grayColor: #343F56;
    --whiteColor: white;
    --fsHeading2: font-size: 42px;
    --fsHeading3: font-size: 30px;
    --fsFooterIcons: font-size: 22px;
    --fsParagraph: font-size: 16px;
    --ffHeading: font-family: 'Rubik';
    --ffParagraph: font-family: 'Montserrat', sans-serif;
}

body{
    overflow-x: hidden;
}

/* ===== NAV ======== */
header{
     z-index: 3;
    justify-content: space-between;
}
nav ul{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav a{
    text-decoration: none;
    color:  var(--grayColor);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider__slides{
    padding-top: 710px;
}

.slider__image{
    display: flex;
    align-items: bottom;
    justify-content: bottom;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    opacity: 0;
    background: center;
    background-size: cover;
}

.slider__image.active{
    transition: 3s;
    opacity: 1;
}

.slider__nav-button{
    position: absolute;
    margin: 40px;
    height: 40px;
    width: 40px;
    background-color: rgb(226, 226, 226);
    opacity: 8;
    cursor: pointer;
}

#nav-button--prev{
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
}

#nav-button--next{
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 50%;
}

#nav-button--prev::after, #nav-button--next::after{
    content: '';
    position: absolute;
    border: solid var(--whiteColor);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 25%;
    height: 25%;
}

#nav-button--next::after{
    top: 50%;
    right: 45%;
    transform: translate(25%, -50%) rotate(-45deg);
}
#nav-button--prev::after{
    top: 50%;
    left: 28%;
    transform: translate(25%, -50%) rotate(135deg);
}

@media screen and (max-width: 640px) {
  .slider__nav-button {
    height: 40px;
    width: 40px;
  }
}

.slider__nav{
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.slider__navlink{
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px #fff solid;
    background-color: #333;
    opacity: 8;
    margin: 0 10px;
}

.slider__navlink.active{
    background-color: #fff;
    border: 1px #333 solid;
}

/* ======== ABOUT US ========= */
.about-us{
    background-color: #F5E6CA;
    height: 70vh;
    gap: 1em;
    display: flex;
    color: var(--grayColor);
}

.about-us article{
    padding: 70px 0 70px 0;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.about-us h2{
    font-size: var(--fsHeading2);
    font-family: var(--ffHeading);
}

.about-us p{
    text-align: center;
    font-family: var(--ffParagraph);
    font-weight: 300;
    padding-top: 16px;
    font-size: var(--fsParagraph);
    line-height: 22px;
}

.about-us img{
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
}

.about-us ul li{
    display: inline-block;
    margin: 30px 10px 30px 10px;
}

/* ======== RECIPES ========= */
.recipes{
    background-color: var(--orangeColor);
    padding: 40px 0;
}

.recipes__container.is-active{
    transition: all 2s;
    transform: translateX(0);
    opacity: 1;
}

.fade-in{
    transform: translateX(-150px);
    opacity: 0;
}

.recipes__container.is-active > article:first-child{
    transition-delay: 1s;
}
.recipes__container.is-active > article:nth-child(2){
    transition-delay: 1.8s;
}
.recipes__container.is-active > article:nth-child(3){
    transition-delay: 3s;
}
.recipes__container.is-active > article:last-child{
    transition-delay: 5s;
}

.recipes article{
    padding: 30px 0;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    color: var(--whiteColor);
    gap: 1rem;
}
.recipes img{
    max-width: 500px;
}

.recipes article div{
    width: 50%;
    padding: 0 30px;
}

.recipes h3{
    font-family: var(--ffHeading);
    text-transform: uppercase;
    font-size: var(--fsHeading3);
}

.recipes p{
    font-family: var(--ffParagraph);
    font-weight: 300;
    padding-top: 16px;
    font-size: var(--fsParagraph);
    line-height: 22px;
    margin-bottom: 20px;
}

.recipes button{
    font-family: var(--ffHeading);
    border: none;
    background-color: var(--grayColor);
    color: var(--orangeColor);
    text-transform: uppercase;
    padding: 10px 26px;
    font-size: var(--fsParagraph);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.recipes button:hover{
    padding-right: 50px;
    transition: all 0.2s ease-in-out;
}

/* ======== FOOTER ========= */
footer{
    background-color: var(--grayColor);
    height: 50px;
}

footer div{
    width: 15%;
    margin: 0 auto;
}

footer ul{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}

footer ul li{
    font-size: var(--fsFooterIcons);
}

footer ul a{
    color: var(--whiteColor);
}

