body{
    background-color: #F5E6CA;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* NAV */
header{
    background-color: white;
}
nav ul{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav a{
    text-decoration: none;
    color:  #343F56;
}

/* TABS */

[data-tab-content]{
    display: none;
}

[data-tab-content].active{
    display: block;
}

.sec{
    display: flex;
    justify-content: center;
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tabs{
    display: flex;
    color: #343F56;
    font-family:'Rubik', sans-serif ;
    font-size: 25px;
    justify-content: space-around;
    list-style-type:none;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: #343F56 2px solid ;
}
.tab{
    cursor: pointer;
    padding: 10px;
    margin-left: 80px;
}
.in{
    margin-right: 80px;
}

.tab.active{
    background-color: #C8C6C6;
    border-radius: 10px;
}

.tab:hover {
    background-color: #C8C6C6;
    border-radius: 10px;
}
/* 
INSIDE THE TABS */

.image-recipe{
    height: auto;
    width: 900px;
    border-radius: 20px;
    
}
.ingredients-container{
    margin-top:20px;
}
.tab-content{
    display: flex;
    justify-content:center ;
    width: 1174.320px;
    border-bottom: #343F56 2px solid;
}
h2{
    font-family:'Rubik', sans-serif  ;
    font-size: 25px;
}
.ln{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.ingredients-list{
    width: 680px;
    font-size: 20px;
}

.ul-ingredients{
    margin-top: 40px;
    margin-bottom: 40px;
    font-family:'Montserrat', sans-serif ;
    list-style-type:square ;
    line-height: 40px;
}

.embebed-container{
    margin-top: 40px;
    margin-bottom: 40px;
}

.embebed-container p{
    padding-top: 12px;
    font-family:'Montserrat', sans-serif ;
}

.embebed-container a{
    text-decoration: none;
    font-weight: bold;
    color: #FB9300;
}

ol{
    margin-top: 40px;
    margin-bottom: 40px;
    font-family:'Montserrat', sans-serif ;
    line-height: 40px;
    list-style-type: decimal;
    font-size: 20px;
    width: 800px;
    text-justify:auto;
}
.instruct{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
/* Photos */

/* 
nutrition */

.nutrition{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family:'Montserrat', sans-serif ;
    font-weight: 400;
    line-height: 50px;
    font-size: 20px;
}
.ul1{
    margin-top: 20px;
    margin-bottom: 40px;
    font-family:'Montserrat', sans-serif ;
    list-style-type:square ;
    line-height: 40px;
}


.carousel-container{
    margin-top: 35px;
    margin-bottom: 25px;
    border-radius: 10px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    font-family:'Rubik', sans-serif ;
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.carousel-photo{
    height: 500px;
    width: 850px;
}

/* =====  MODAL ====== */


  .sign-overlay {
    visibility: hidden;
    position: fixed;
    background: white;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 999999999;
  }
  
  .modal-content {
    width: 50%;
    height: 50%;
    margin: 10% auto;
    background: white;
    border: 3px solid #FB9300;;
  }

 .modal-content ul li{
     display: inline-block;
 }

 .modal-content img{
     max-width: 200px;
 }

 .modal-content h3{
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
    font-family: 'Rubik';
    color: #343F56;
 }
  
  .sign-overlay.active {
    visibility: visible;
    text-align: center;
  }

  .open{
    font-family: 'Rubik';
    border: none;
    background-color: #343F56;
    color: #FB9300;
    text-transform: uppercase;
    padding: 10px 26px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-bottom: 20px;
}

.open:hover{
    padding-right: 50px;
    transition: all 0.2s ease-in-out;
}
  
  button {
    cursor: pointer;
  }
