body{
    background-color: #F5E6CA;
    scroll-behavior: smooth;
}

/* NAV */
header{
    background-color: white;
}
nav ul{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav a{
    text-decoration: none;
    color:  #343F56;
}

/* TABS */

[data-tab-content]{
    display: none;
}

[data-tab-content].active{
    display: block;
}

section {
    display: flex;
    justify-content: center;
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tabs{
    display: flex;
    color: #343F56;
    font-family:'Rubik', sans-serif ;
    font-size: 25px;
    justify-content: space-around;
    list-style-type:none;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: #343F56 2px solid ;
}
.tab{
    cursor: pointer;
    padding: 10px;
    margin-left: 80px;
}
.in{
    margin-right: 80px;
}

.tab.active{
    background-color: #C8C6C6;
    border-radius: 10px;
}

.tab:hover {
    background-color: #C8C6C6;
    border-radius: 10px;
}
/* 
INSIDE THE TABS */

.image-recipe{
    height: auto;
    width: 900px;
    border-radius: 20px;
    
}
.ingredients-container{
    margin-top:20px;
}
.tab-content{
    display: flex;
    justify-content:center ;
    width: 1174.320px;
    border-bottom: #343F56 2px solid;
}
h2{
    font-family:'Rubik', sans-serif  ;
    font-size: 25px;
}
.ln{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.ingredients-list{
    width: 680px;
    font-size: 20px;
}

.ul-ingredients{
    margin-top: 40px;
    margin-bottom: 40px;
    font-family:'Montserrat', sans-serif ;
    list-style-type:square ;
    line-height: 40px;
}

.embebed-container{
    margin-top: 40px;
    margin-bottom: 40px;
}

ol{
    margin-top: 40px;
    margin-bottom: 40px;
    font-family:'Montserrat', sans-serif ;
    line-height: 40px;
    list-style-type: decimal;
    font-size: 20px;
    width: 800px;
    text-justify:auto;
}
.instruct{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
/* Photos */

/* 
nutrition */

.nutrition{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family:'Montserrat', sans-serif ;
    font-weight: 400;
    line-height: 50px;
    font-size: 20px;
}
.ul1{
    margin-top: 20px;
    margin-bottom: 40px;
    font-family:'Montserrat', sans-serif ;
    list-style-type:square ;
    line-height: 40px;
}